# Eclipse
.classpath
.project
.settings/
 
# Intellij
.idea/
*.iml
*.iws
 
# Mac
.DS_Store
 
# Maven
log/
target/

# vim
*~
*.swp

# jekyll
_site/
_sass/
.sass-cache/
.jekyll-metadata
/Gemfile
/.TeamViewer.lock
/.keystone_install_lock
/.s.PGSQL.5432
/.s.PGSQL.5432.lock
*.json
_config.yml
Gemfile.lock

local/
docker-compose.yml
