   <article>
        <div class="article_header">
            <h1 class="article_title">{{ page.title }}</h1>
          <h5 class="article_meta">{{ page.date | date: "%Y-%m-%d" }}&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="/category/{{ page.category }}.html" class="article-fa"><i
                        class="fa fa-folder-o"></i> {{ page.category }}</a>


                {% for tag in page.tags %}
                <a href="/category/tags/{{tag}}.html"><i class="fa fa-tag"></i> {{tag}}</a>
                {% endfor %}
                </h5>

        </div>
        <div class="article_index_contents">
            <div class="article_content"> {{ content }} </div>
        </div>
    </article>
   <hr class="article_horizontal_rule green">
   <article class="support-author">
       <p>如果本文对你有帮助，给赛钱箱充值一份信仰吧</p>
       <div class="support-qr">
       <img src="https://cdn.kelu.org/blog/static/alipay.gif">
       <img src="https://cdn.kelu.org/blog/static/qpay.gif">
           </div>
   </article>

    <div class="post-nav">
        <a href="{{ page.previous.url }}" title="{{ page.previous.title }}" class="post-nav-prev">{{ page.previous.title }}</a>
        <a href="{{ page.next.url }}" title="{{ page.next.title }}" class="post-nav-next">{{ page.next.title }}</a>
        <div class="clear"></div>
    </div>

<div class="comment" style='margin-top: 10px'></div>
    <script>
        new Valine({
            // AV 对象来自上面引入av-min.js(老司机们不要开车➳♡゛扎心了老铁)
            av: AV, 
            el: '.comment', // 
            app_id: 'QEPiv20R7mtcDF1XaTLhFpWi-gzGzoHsz', // 这里填写上面得到的APP ID
            app_key: '645dehEXS4HJPLk9axSQ9oCd', // 这里填写上面得到的APP KEY
            placeholder: 'YUKI.N > _' // [v1.0.7 new]留言框占位提示文字
        });
    </script>