   <article>
        <div class="article_header">
            <h1 class="article_title">{{ page.title }}</h1>
          <h5 class="article_meta">{{ page.date | date: "%Y-%m-%d" }}&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="/category/{{ page.category }}.html" class="article-fa"><i
                        class="fa fa-folder-o"></i> {{ page.category }}</a>


                {% for tag in page.tags %}
                <a href="/category/tags/{{tag}}.html"><i class="fa fa-tag"></i> {{tag}}</a>
                {% endfor %}
                </h5>

        </div>
        <div class="article_index_contents">
            <div class="article_content"> {{ content }} </div>
        </div>
    </article>
   <hr class="article_horizontal_rule green">
   <article class="support-author">
       <p>谢谢阅读，给赛钱箱撒一份信仰吧</p>
       <div class="support-qr">
       <img src="http://7vigrt.com1.z0.glb.clouddn.com/blog/pic/alipay.gif">
       <img src="http://7vigrt.com1.z0.glb.clouddn.com/blog/pic/qpay.gif">
           </div>
   </article>

    <div class="post-nav">
        <a href="{{ page.previous.url }}" title="{{ page.previous.title }}" class="post-nav-prev">{{ page.previous.title }}</a>
        <a href="{{ page.next.url }}" title="{{ page.next.title }}" class="post-nav-next">{{ page.next.title }}</a>
        <div class="clear"></div>
    </div>
<div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'kelvinblood'; // required: replace example with your forum shortname
        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>请打开 JavaScript 查看评论 </noscript>
