---
layout: two-column-sidebar
---

<article class="blog-list-ul" style="padding-bottom: 40px;">

    {% capture post_year1 %}{{ 'now' | date: '%Y' }}{% endcapture %}
    <h3 style="margin-bottom: 20px;">{{ page.catname }} 共 {{ site.categories[page.catname] | size }} 篇</h3>

    <h3>{{ post_year1 }}</h3>
    <ul>
        {% for post in site.categories[page.catname] %}
        {% capture post_year2 %}{{ post.date | date: '%Y' }}{% endcapture %}
        {% if post_year1 != post_year2 %}
        {% assign post_year1 = post_year2 %}
    </ul>
    <h3>{{ post_year1 }}</h3>
    <ul>
        {% endif %}
        <li>
            <span>{{post.date | date: "%m-%d"}}</span>
            <a href="{{post.url}}">{{post.title}}</a>
        </li>
        {% endfor %}
    </ul>
</article>